# RewriteEngine On
# Options -Indexes
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ index.php [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /rekrutment-filemanager/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
